.total-view{
    margin: 20px;
    min-height: 220px;
}
.total h2{
    border-radius: 10px;
    border: 1px solid rgb(41, 30, 30);
}
.total h3 {
    border-radius: 10px;
    border: 1px solid rgb(41, 30, 30);
}